# Java Spring Boot`nvistraa-backend/target/`nvistraa-backend/.mvn/`n*.class`n*.jar`n`n# Python FastAPI & Virtual Env`nvenv/`nvistraa-ai-service/venv/`n**/__pycache__/`n*.pyc`n`n# Frontend & IDE`nvistraa-web-frontend/node_modules/`n.env`n.idea/`n.vscode/`n*.log
